{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2>Created By: Connor Holm</h2>
            </div>
            <p>I love to make a difference in the community through programming. Providing vital information to users and giving people the necassary information to maintain the public's saftey.</p>
            <ul>
                <li>
                    <h5><a href="https://www.linkedin.com/in/holm-connor/">Linked In</a></h5>
                </li>
            </ul>

        </div>
    </article>
{% endblock content %}