{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2>World Wide Information</h2>
            </div>
            <h5>Total Cases: <a class="article-content" >{{ worldInfo.worldCases }}</a></h5>
            <h5 class="article-content">Total Deaths: {{ worldInfo.worldDeaths }}</h5>
            {% if worldInfo.newWorldCases != "No data" %}
                <h5 class= "article-content">Daily Cases: {{ worldInfo.newWorldCases }}</h5>
            {% endif %}
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2>United States Information</h2>
            </div>
            <h5 class="article-content" >Total US Cases: {{ usInfo.positiveCases }}</h5>
            <h5 class="article-content">Total US Deaths: {{ usInfo.deaths }}</h5>
            <h5 class="article-content">Daily Cases: {{ usInfo.positiveIncrease }}</h5>
            <h5 class="article-content">Daily Deaths Increase: {{ usInfo.deathIncrease }}</h5>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2>{{ stateInfo.state }} Information</h2>
            </div>
            <h5 class="article-content">Total {{ stateInfo.state }} Cases: {{ stateInfo.positiveCases }}</h5>
            <h5 class="article-content">Total {{ stateInfo.state }} Deaths: {{ stateInfo.deaths }}</h5>
            <h5 class="article-content">Daily Cases: {{ stateInfo.positiveIncrease }}</h5>
            <h5 class="article-content">Daily Deaths Increase: {{ stateInfo.deathIncrease }}</h5>
        </div>
    </article>
{% endblock content %}