{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2>Stoping the Spread</h2>
            </div>
            <ul>
                <li>Wear a mask</li>
                <li>Avoid close contact</li>
                <li>Cover coughs and sneezes</li>
                <li>Clean and disinfect</li>
                <li>Monitor Your Health Daily</li>
                <li>Practice social distancing</li>
            </ul>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html">Source</a>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2>Actions to Take if You Have Symptoms</h2>
            </div>
            <ul>
                <li>Stay home except to get medical care</li>
                <li>Separate yourself from other people</li>
                <li>Monitor your symptoms</li>
                <li>Call ahead before visiting your doctor</li>
                <li>If you are sick, wear a mask over your nose and mouth</li>
            </ul>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html">Source</a>
        </div>
    </article>
    <article class="media content-section">
        <div>
            <div class="article-metadata">
                <h2>Responding to COVID-19</h2>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/P5RD-VK34XQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
        </div>
    </article>

{% endblock content %}