{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2>Sources Used to Get Data:</h2>
            </div>
            <ul>
                <li>
                    <h5><a href="https://covidtracking.com/data/api">The COVID Tracking Project</a></h5>
                </li>
                <li>
                    <h5><a href="https://news.google.com/topics/CAAqIggKIhxDQkFTRHdvSkwyMHZNREZqY0hsNUVnSmxiaWdBUAE?hl=en-US&gl=US&ceid=US%3Aen">Google News</a></h5>
                </li>
                <li>
                    <h5><a href="https://news.google.com/covid19/map?hl=en-US&mid=%2Fm%2F0mmpz&gl=US&ceid=US%3Aen">Google COVID-19 Tracker</a></h5>
                </li>
            </ul>

        </div>
    </article>
{% endblock content %}